
.background{
    background-image: url('../assets/imgs/merce1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   

}

h2{
    position: relative;
    text-align: center;
    top: 30%;
}
h4{
    position: relative;
    text-align: center;
    top: 35%;
}

footer{
    position:c
}
