
.cen1{
    font-style: italic;
    font-size: 20px;
}

.div1{
    background-image: url("../assets/imgs/pinacleLogo.png");
    block-size: 200px;
   
}

.div2{
    background-image: url("../assets/imgs/aff.png");
    block-size: 200px;

  
}

.div3{
    background-image: url("../assets/imgs/merce2.png");    
    block-size: 200px;
}
.img{
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 424px 200px;
}

.back1{
    background-color: rgba(219, 222, 224, 0.925);
    background-repeat: no-repeat;
    background-position: center;

}