

.font{
    background: url('../assets/imgs/merce1.jpg');
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;

}

.img1{
    background-image: url('../assets/imgs/school.jpg');
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    height:350px ;
}

.img2{
    background-image: url('../assets/imgs/enggColg.png');
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
